.card {
  @include flex(column, flex-start, space-between);
  gap: 1.5rem;
  flex: 0 1 25rem;

  & .star-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;

    border-radius: 100%;
    background-color: $rating-btn-color;
  }
  & .text-wrapper {
    @include flex(column, flex-start);
    gap: 0.5rem;
  }
  & .rating-btns {
    @include flex(row, center, space-between);
    inline-size: 100%;

    & .rating-btns__rating {
      border-radius: 100%;
      padding: 0.95em 1.3em;
    }
    .rating-btn--color {
      color: $light-grey;
      background-color: $rating-btn-color;

      transition: all ease 0.2s;
      &:hover {
        color: $white;
        background-color: $medium-grey;
      }
      &:active,
      &:focus {
        color: $white;
        background-color: $primary-color;
      }
    }
  }

  & .submit-btn {
    letter-spacing: 0.12em;
    text-transform: uppercase;

    inline-size: 100%;
    padding: 0.75em 0em;
    border-radius: 30px;

    color: $white;
    background-color: $primary-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    transition: all ease 0.3s;
    &:hover {
      color: $primary-color;
      background-color: $white;
    }
  }
}
