@import "config", "thank-card", "card", "container";

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

body {
  @include grid-center;

  min-height: 100vh;

  color: $white;
  font-weight: 400;
  font-display: swap;
  font-family: "Overpass", sans-serif;

  background-color: $background;
}

main {
  @include flex;
  width: 100vw;
  padding: 1rem 0.5rem;
}
.hide {
  display: none;
}
p {
  font-size: 15px;
  line-height: 1.5;
  color: $light-grey;
}

button {
  cursor: pointer;
  font-size: 15px;
  border: none;
  background: transparent;
}

footer {
  width: 100%;
  padding: 0rem 1rem;
  display: flex;
  align-self: end;
  justify-content: center;
  margin-bottom: 10px;
  & a {
    color: $white;
    text-decoration: none;
  }
}
