@import 'config', 'card';

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
    @include grid-center;

    height: 100vh;

    color: $white;
    font-weight: 400;
    font-family: 'Overpass', sans-serif;
}

p {
    font-size: 15px;
}

